<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">
    <test name="Health-Check Test">
        <classes>
            <class name="com.testqa.desafioapi.healthcheck.HealthCheckTest" />
        </classes>
    </test>
    <test name="Contract Test">
        <packages>
            <package name="com.testqa.desafioapi.contract.superhero"/>
            <package name=""/>
        </packages>
    </test>
    <test name="Functional Test">
        <packages>
            <package name="com.testqa.desafioapi.functional.superhero"/>
            <package name=""/>
        </packages>
    </test>
</suite>